<footer class="bg-dark text-light text-center text-lg-start mt-auto">
  <div class="text-center p-4 bg-secondary">
    © <%= new Date().getFullYear() %> Airbnb Clone | Built with by Syed
  </div>
</footer>