<% layout('/layout/boilerplate') -%>

<div class="container py-3">
  <h4 class="text-center mb-2 text-primary">Explore All Listings</h4>
  <div class="row g-4">
    <% for (let list of allListings) { %>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 border-0 shadow-lg d-flex flex-column">
          <img src="<%= list.image %>" class="card-img-top rounded-top" alt="property image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark fw-bold mb-3"><%= list.title %></h5>
            <div class="mt-auto">
              <a href="/listings/<%= list._id %>" class="btn btn-outline-primary w-100">View Details</a>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>